:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196F3;
  --main-black: #212121;
  --main-grey: #757575;
  --color-backgroudn: #2f303a;
  --white: #ffffff;
  --black: #000000;
  --btn-backround: #f5f4fa;
  --border-color: #ececec;
  --link-color: #afb1b8;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  max-width: 1600px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 2%;
  color: var(--main-black);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: var(--main-color);
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-list-item .active-site::after {
  content: "";
  display: block;
  position: absolute;
  width: 56px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-color);
  transform: translateY(19px);
}

.active-site {
  color: var(--main-color);
}

.header.address {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
}

.address {
  margin-bottom: 20px;
}

.address-mail {
  margin-right: 41px;
}

.address-mail,
.address-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 2%;
  color: var(--main-grey);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail:hover, .address-mail:focus,
.address-phone:hover,
.address-phone:focus {
  color: var(--main-color);
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
  fill: var(--main-grey);
}

.mail-icon:hover, .mail-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
  fill: var(--main-color);
}

.logo {
  color: var(--main-black);
  font-weight: 700;
  font-family: var(--secondary-font);
  font-style: bold;
  font-size: 26px;
  text-decoration: none;
}

.logodark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  font-style: bold;
  line-height: 1.193;
  letter-spacing: 3%;
  color: var(--main-color);
  text-decoration: none;
}

.hero {
  background-color: var(--color-backgroudn);
  padding-top: 200px;
  padding-bottom: 190px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/goit-markup-hw-04/images/backgroundfoto.jpg");
  background-size: 1600px 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.hero__header {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-style: var(--black);
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 6%;
  color: var(--white);
  margin-bottom: 40px;
}

.hero__btn {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 6%;
  color: var(--white);
  background-color: var(--main-color);
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 41px 10px 41px;
  margin-right: auto;
  margin-left: auto;
}

.sectionadventages {
  margin-top: 94px;
  margin-bottom: 94px;
}

.adventages {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.adventages__item {
  width: calc((100%- 3*30px)/4);
}

.adventages__header {
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 3%;
  color: var(--main-black);
  margin-bottom: 10px;
}

.adventages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 3%;
  color: var(--main-grey);
}

.adventages__icon {
  background-color: var(--btn-backround);
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  padding: 25px;
}

.offer {
  list-style: none;
  margin-bottom: 94px;
}

.sectionoffer {
  display: flex;
}

.offer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.offer__header {
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 3%;
  color: var(--main-black);
  text-align: center;
  margin-bottom: 50px;
}

.offer__text {
  position: absolute;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 90px;
  width: 370px;
  height: 70px;
  bottom: 0;
}

.offer__textwrapper {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.team {
  list-style: none;
}

.sectionteam {
  display: flex;
  background-color: var(--btn-backround);
}

.sectionteam .team {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 30px;
  margin-top: 30px;
}

.header-three-contact {
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 3%;
  text-align: center;
  color: var(--main-black);
  margin-top: 30px;
  margin-bottom: 10px;
}

.description-text-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.186;
  letter-spacing: 3%;
  text-align: center;
  color: var(--main-grey);
  margin-bottom: 16px;
}

.team__item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionteam .container {
  margin-top: 100px;
}

.team__item {
  background-color: var(--white);
}

.social__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  fill: var(--link-color);
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}

.social__link:hover, .social__link:focus {
  fill: var(--white);
  background-color: var(--main-color);
}

.social__item .social__link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  fill: var(--link-color);
  padding: 15px 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
}

.clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 30px;
  margin-top: 30px;
}

.sectionclients {
  margin-bottom: 94px;
  margin-top: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.policy-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  border-style: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  /*flex-grow: 50%;*/
}

.modal-form:last-of-type {
  align-self: center;
}

.modal-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--main-color);
}

.modal-form__field {
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: var(--main-grey);
}

.modal-form__field:not(:nth-of-type(4)) {
  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  transition: border 250ms linear;
  background: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-form__input:focus {
  border-color: var(--main-color);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 1px;
}

.modal-form__text {
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 16px;
  margin-top: 4px;
  resize: none;
  box-sizing: border-box;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.modal-form__text:focus {
  border-color: var(--main-color);
  outline: none;
}

.modal-form__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.modal-form__policy {
  font-size: 14px;
  color: var(--main-grey);
  letter-spacing: 3%;
  line-height: 1.714;
  font-weight: 400;
}

.modal-form__policytext {
  color: var(--main-grey);
  font-size: 14px;
  letter-spacing: 3%;
  margin: 20px auto 30px;
}

.modal-form__policylink {
  color: var(--main-color);
  margin-top: 20px;
  margin-right: 2px;
  margin-left: 2px;
}

.modal-form__policytext::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 2px;
}

.modal-form__policy:checked + .modal-form__policytext::before {
  background-color: var(--main-color);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  border-color: var(--main-color);
  background-size: contain;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.portfoliobtn {
  list-style: none;
}

.portfoliobtn__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 3%;
  color: var(--black);
  background-color: var(--btn-backround);
  border-style: none;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  cursor: pointer;
  transition-property: color, box-shadow, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.portfoliobtn__text:hover, .portfoliobtn__text:focus {
  background-color: var(--main-color);
  color: var(--white);
  cursor: pointer;
  border-style: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.sectionporfoliobtn {
  margin-bottom: 94px;
  margin-top: 94px;
}

.portfoliobtn {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfoliobtn__item :not(last-child) {
  margin-right: 8px;
}

.main-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.main-list-item {
  width: calc((100%/3));
  margin-top: 50px;
  /*border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color); */
  width: 370px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*img {margin-bottom: 20px;} */
.main-list-item :nth-last-child() {
  margin-right: 30px;
}

.main-list-header {
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: var(--main-black);
  margin-left: 24px;
  margin-bottom: 4px;
  margin-top: 20px;
}

.main-list-text {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 3%;
  color: var(--main-grey);
  margin-left: 24px;
}

.border-text {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.porfolio-wrapper:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.main-list-item:hover .text-overlay {
  transform: translateY(0);
}

.text-overlay {
  position: absolute;
  width: 370;
  height: 294;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  bottom: 0;
  transform: translateY(100%);
  justify-content: center;
  padding: 49px 40px;
  font-size: 18px;
  line-height: 1.555;
  color: #ffffff;
  background: var(--overlay-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  display: flex;
  align-items: center;
  justify-items: center;
  list-style: none;
}

.righfooter {
  margin-left: 70px;
  margin-bottom: 60px;
}

.sectionfooter {
  background-color: var(--color-backgroudn);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logodark {
  margin-bottom: 20px;
}

.address-mail .address-phone:not(last-child) {
  margin-bottom: 9px;
}

.address {
  margin-top: 20px;
}

.address {
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 3%;
  text-decoration: none;
}

.link {
  color: var(--white);
  font-weight: 700;
  font-family: var(--secondary-font);
  font-style: bold;
  font-size: 26px;
  text-decoration: none;
}

.logodark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  font-style: bold;
  line-height: 1.193;
  letter-spacing: 3%;
  color: var(--main-color);
  text-decoration: none;
}

.socialmedia {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socialmedia__item:not(:last-child) {
  margin-right: 10px;
}

.socialmedia__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  fill: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia__link:hover, .socialmedia__link:focus {
  fill: var(--white);
  background-color: var(--main-color);
}

.righfooter__header {
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 3%;
}

/*newsletter*/
.newsletter__form {
  display: flex;
}

.newsletter__header {
  display: block;
  margin-bottom: 20px;
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 3%;
  margin-top: -33px;
}

.newsletter__input:focus {
  outline: none;
  border-color: var(--main-color);
}

.newsletter__input {
  display: flex;
  align-items: center;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.newsletter__input:focus {
  outline: none;
  border-color: var(--main-color);
}

.newsletter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-left: 12px;
  outline: none;
  fill: var(--white);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.newsletter {
  margin-left: 78px;
}
/*# sourceMappingURL=main.css.map */