.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    .page-header & {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero & {
        padding: 118px 0;
    }

    .page-footer & {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;

        .page-header & {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;

        .hero & {
            padding: 200px 0;
        }

        .page-footer & {
            flex-direction: row;
            align-items: baseline;
        }
    }
}

.section {
    padding-bottom: 60px;
    padding-top: 60px;
}


@media screen and (min-width: 1200px) {
    .section {
        padding-bottom: 94px;
        padding-top: 94px;
    }

}
    



/*.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}
*/





