 .social__link {
     display: flex;
     padding: 12px;
     border-radius: 50%;
     fill: var(--link-color);
     background-color: rgba(255, 255, 255, 0.1);
     margin-bottom: 30px;
 
 &:hover,
 &:focus {
     fill: var(--white);
     background-color: var(--main-color);
 }
}

 .social__item .social__link {
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }




