:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --main-black: #212121;
    --main-grey: #757575;
    --color-backgroudn: #2f303a;
    --white: #ffffff;
    --black: #000000;
    --btn-backround: #f5f4fa;
    --border-color: #ececec;
    --link-color: #afb1b8;
    --overlay-color: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
}